.featuredSection {
    padding: 2rem 0;
    margin: 2rem 0;
    background-color: #f2f2f2;
    width: 100%;
  }
  
  .sectionTitle {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #333;
  }
  
  .carouselContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    
  }
  
  .carousel {
    display: flex;
    gap: 1.5rem;
    padding: 0 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    width: calc(100% - 100px);
    width: 100%;
  }
  
  .navButton {
    background: none;
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 10;
    padding-top: 35rem;
    margin: -32rem;
  }
  
  .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 460px; /* o el valor que te funcione */
  background: #f2f2f2;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  min-width: 250px;
  scroll-snap-align: start;
}

  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .imageContainer {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  cursor: pointer;
  }

  
.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
  
  .card:hover .image {
    transform: scale(1.05);
  }
  
  .featuredBadge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #161616e3;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    font-size: 0.75rem;
    font-weight: bold;
  }
  
  .addButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
  }
  
  .addButton:hover {
    transform: scale(1.1);
    background: #f1f1f1;
  }
  
  .details {
    padding: 1rem;
  }
  
  .info {
    margin-bottom: 0.5rem;
  }
  
  .title {
    font-weight: 600;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .price {
    font-weight: 700;
    color: #333;
    font-size: 1.1rem;
  }
  
  .saveButton {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }
  
  .loading, .empty {
    text-align: center;
    padding: 2rem;
    font-size: 1.2rem;
    color: #666;
  }
  
  @media (max-width: 768px) {
    .carousel {
      width: calc(100% - 60px);
    }
    
    .navButton {
      width: 40px;
      height: 40px;
    }
  }